<div><button type="button" class="btn btn-primary" (click)='itemMappingIsEnabled()'>{{noteCategory.name}}</button></div> 
<p>{{noteCategory.isOn}}</p>
<div *ngIf='ifItemMappingIsEnabled' class="row">
    <div class="row">
      <div *ngFor='let item of items'>
        <div class="card" style="width: 18rem;">
          <img src="{{noteCategory.imagePath}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.text}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</div>