<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h6>{{card.purchase.name}}</h6>
            <div [style.backgroundColor]="card.shoppingCategory.color" style='width:20px; height:20px'></div>
        </mat-panel-title>
        <mat-panel-description>
            {{panelOpenState ? 'Свернуть' : 'Развернуть'}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <form class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Название" [(ngModel)]='card.purchase.name' [ngModelOptions]="{standalone: true}">
        </mat-form-field>        
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Описание" rows='3' [(ngModel)]='card.purchase.description' [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
    </form>
    
    <p>
        <mat-form-field>
            <mat-label>Категория покупки</mat-label>
            <mat-select 
                [(ngModel)]='card.purchase.shoppingCategoryId' 
                [ngModelOptions]="{standalone: true}"
                [(value)]='card.purchase.shoppingCategoryId'>
                <mat-option [value]="0">
                    Без категории
                </mat-option>
                <mat-option *ngFor="let category of categories" [value]='category.id'>
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>    
        
        <mat-form-field>
            <mat-label>Тип покупки</mat-label>
            <mat-select 
                [(ngModel)]='card.purchase.typeOfPurchaseId' 
                [ngModelOptions]="{standalone: true}" 
                [(value)]='card.purchase.typeOfPurchaseId'>
                <mat-option [value]="0">
                    Шт
                </mat-option>
                <mat-option *ngFor="let typeOfPurchase of typeOfPurchases" [value]="typeOfPurchase.id">
                    {{typeOfPurchase.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>        
    </p> 

    <p>
        <mat-form-field>
            <input matInput placeholder="Итоговая сумма" [(ngModel)]='card.purchase.totalPrice' readonly>
        </mat-form-field>
        =
        <mat-form-field>
            <input matInput placeholder="Количество" type='number' min="1" [(ngModel)]='card.purchase.amount' (ngModelChange)='getTotalPrice()'>
        </mat-form-field>
        *
        <mat-form-field>
            <input matInput placeholder="Цена за одну" type='number' min="1" [(ngModel)]='card.purchase.priceOfOneUnit' (ngModelChange)='getTotalPrice()'>
        </mat-form-field>
    </p>  

    <mat-action-row>
        <button mat-button color="primary" (click)='save()'>Сохранить</button>
        <button mat-button color="accent" (click)='cancel()'>Отменить</button>
        <button mat-button color="warn" (click)='delete()'>Удалить</button>
    </mat-action-row>

</mat-expansion-panel>