<td *ngIf='!isEditItem'>
    <input type='checkbox'>
</td>
<td *ngIf='isEditItem'>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)='delete()' type="button" class="btn btn-secondary">Удалить</button>
        <button (click)='save()' type="button" class="btn btn-secondary">Сохранить</button>
        <button (click)='cancel()' type="button" class="btn btn-secondary">Отменить</button>
    </div>
</td>

<td *ngIf='!isEditItem' (click)='edit()'>
    <p>{{card.purchase.name}}</p>
</td>
<td *ngIf='isEditItem'>
    <input type='text' [(ngModel)]='card.purchase.name'>
</td>

<td *ngIf='!isEditItem' (click)='edit()'>
    {{card.shoppingCategory.name}}
</td>
<td *ngIf='isEditItem'>
    <select [(ngModel)]='card.purchase.shoppingCategoryId' [ngModelOptions]="{standalone: true}" [(value)]='card.purchase.shoppingCategoryId'>
        <option value='0'>
            Без категории
        </option>
        <option *ngFor='let category of shoppingCategories' value='{{category.id}}' >
            {{category.name}}
        </option>
    </select>
</td>

<td *ngIf='!isEditItem' (click)='edit()'>
    {{card.typeOfPurchase.name}}
</td>
<td *ngIf='isEditItem'>
    <select [(ngModel)]='card.purchase.shoppingCategoryId' [ngModelOptions]="{standalone: true}" [(value)]='card.purchase.shoppingCategoryId'>
        <option value='0'>
            Штуки
        </option>
        <option *ngFor='let type of typeOfPurchases' value='{{type.id}}' >
            {{type.name}}
        </option>
    </select>
</td>

<td *ngIf='!isEditItem' (click)='edit()'>
    Как же это бесит
</td>
<td *ngIf='isEditItem'>
    Как же это бесит
</td>

<td *ngIf='!isEditItem' (click)='edit()'>
    {{card.purchase.amount}}
</td>
<td *ngIf='isEditItem'>
    <input type='number' [(ngModel)]='card.purchase.amount'>
</td>

<td *ngIf='!isEditItem' (click)='edit()'>
    {{card.purchase.priceOfOneUnit}}
</td>
<td *ngIf='isEditItem'>
    <input type='number' [(ngModel)]='card.purchase.priceOfOneUnit'>
</td>

<td *ngIf='!isEditItem' (click)='edit()'>
    {{card.purchase.description}}
</td>   
<td *ngIf='isEditItem'>
    <textarea type='text' [(ngModel)]='card.purchase.description' rows="3"></textarea>
</td>  
