<mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{category.name}}<div [style.backgroundColor]="category.color" style='width:20px; height:20px; border-radius: 10px;'></div>
            </mat-panel-title>
            <mat-panel-description>
                
            </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
                <input matInput placeholder="Название" [(ngModel)]='category.name' [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        
            <mat-form-field>
                <input type='color' matInput placeholder="Цвет" [(ngModel)]='category.color' [ngModelOptions]="{standalone: true}">
            </mat-form-field>
    
            <div>
                <button color="primary" (click)='save()' mat-button>Сохранить</button>
                <button color="accent" (click)='cancel()' mat-button>Отменить</button>
                <button color="warn" (click)='delete()' mat-button>Удалить</button>
            </div>
        </mat-expansion-panel>
        
    </mat-accordion>
