<div class="container-fluid">
        <div class='row contains-categories'>
            <div class='col-3 border border-dark contains-categories categories-bar'>
                <button type="button" class="btn btn-success btn-lg btn-block" (click)='addCategory()'>Новая категория</button>
                    <app-task-category-item 
                        *ngFor='let category of categories'
                        [(category)]='category'
                        (loadItems)='loadItems()'></app-task-category-item>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success btn-lg btn-block" (click)='addTask()'>Новая задача</button>
                <table class='col-auto table table-striped table-bordered'>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col">Имя</th>
                                <th scope="col">Категория</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr app-task-item 
                                *ngFor='let taskCard of taskCards' 
                                [(taskCard)]='taskCard'
                                [(categories)]='categories'
                                (loadItems)='loadItems()'>                                
                        </tbody>               
                </table>
            </div>            
        </div>
</div>
