<div>
    <button type="button" class="btn btn-success btn-lg btn-block" (click)='addTask()'>Новая задача</button>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-3 border border-dark'>
                <button type="button" class="btn btn-success btn-lg btn-block" (click)='addCategory()'>Новая категория</button>
                <div *ngFor='let category of categories'>
                    <app-task-category-item [(category)]='category' (loadItems)='loadItems()'></app-task-category-item>
                </div>
            </div>
            <div class="col-9">
                <table class='col-auto table table-striped table-bordered'>
                        <thead>
                            <tr>
                                <th scope="col">
                                    Done
                                </th>
                                <th scope="col">
                                    Category
                                </th>
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Description
                                </th>
                                <th scope="col">
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr app-task-item *ngFor='let taskCard of taskCards' [(taskCard)]='taskCard'>
                        </tbody>               
                </table>
            </div>            
        </div>
    </div>
</div>
