<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

  <a href="javascript: void(0)" class="show-categories">Categories</a>

  <a class="navbar-brand nav-item-link" routerLink=''>Главная</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-item-link" routerLink='/notes'>Заметки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/shoppingPlanner'>Покупки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/tasks'>Задачи</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->

<mat-toolbar>
  <button type="button"  mat-button (click)="drawer.toggle()">
  Фильтры
</button>
<app-navpanel></app-navpanel>
</mat-toolbar>


<mat-drawer-container class="container-menu">  
  
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <mat-list-item><a routerLink='/' mat-button>Главная</a></mat-list-item>
      <mat-list-item><a routerLink='/notes' mat-button>Заметки</a></mat-list-item>
      <mat-list-item><a routerLink='/shoppingPlanner' mat-button>Покупки</a></mat-list-item>
      <mat-list-item><a routerLink='/tasks' mat-button>Задачи</a></mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  
</mat-drawer-container>