.page{
  width: 100%;
  height: 100%;
  margin: 0%;
  position: fixed;
}

.mat-drawer-container {
  width: 100%;
  height: 100%;
}
.mat-drawer-content {
  flex-direction: column;
  align-items: flex-start;
}
.mat-drawer {
  width: 10%;
}

.mat-toolbar{
  padding: 0%;
  height: 9%;
  .mat-button{
    height: 100%;
    width: 10%;
  }
}