<div class="modal-dialog" role="document">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{noteCategory.name}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <img src="{{noteCategory.imagePath}}" class="card-img-top">
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <div class="btn-group" role="group" aria-label="noteCategoryFor">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='delete(noteCategory.id)'>Удалить</button>

        <!--New noteCategory-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#modalForNoteCategory">Изменить</button>
        <!--Modal-->
        <div class="modal fade" id="modalForNoteCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <app-form-note-category [(noteCategory)]='noteCategory' [(saveNoteCategory)]='noteCategory' [(isNewNoteCategory)]='isNewNoteCategory'></app-form-note-category>
        </div>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
    
  </div>
</div>