<div class='page'>

    <mat-toolbar>
    
        <button type="button"  mat-button (click)="drawer.toggle()">
            <span class="label">Сервисы</span>
        </button>
    
        <button mat-button routerLink='/'>Главная</button>
        <button class='login' mat-button routerLink='/' mat-button>
            <span class="label">Логин</span>
            <img class='icon' src='https://image.flaticon.com/icons/svg/149/149071.svg'/>
        </button>
    
    </mat-toolbar> 
    
    <mat-drawer-container>  
        
        <mat-drawer #drawer mode="side">
        <mat-list>
            <mat-list-item><button routerLink='/' mat-button>Главная</button></mat-list-item>
            <mat-list-item><button routerLink='/notes' mat-button>Заметки</button></mat-list-item>
            <mat-list-item><button routerLink='/shoppingPlanner' mat-button>Покупки</button></mat-list-item>
            <mat-list-item><button routerLink='/tasks' mat-button>Задачи</button></mat-list-item>
        </mat-list>
        </mat-drawer>
    
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
        
    </mat-drawer-container>
    
</div>
