<div class="form-group">
  <input type="text" class="form-control" placeholder="Название"
  [(ngModel)]="note.name"
  [ngModelOptions]="{standalone: true}">
</div>
<div class="form-group">
  <textarea class="form-control" rows="3" placeholder="Описание"
  [(ngModel)]='note.text'
  [ngModelOptions]="{standalone: true}"></textarea>
</div>
<div class="form-group">
  <select class="form-control" placeholder="Категория"
  [(ngModel)]='note.noteCategoryId'
  [ngModelOptions]="{standalone: true}">
    <option
    *ngFor='let noteCategory of notesCategories'
    value={{noteCategory.id}}
    >{{noteCategory.name}}</option>
  </select>
</div>
<button type="button" class="btn btn-primary" (click)='save()'>Сохранить</button>
<button type="button" class="btn btn-primary" (click)='clear()'>Очистить</button>