.content-button {
  position: relative;
  margin-bottom: 10px;
}
.container-menu {
  padding: 0%;
  width: 100%;
  height: 100%;
}  
.mat-drawer-content {
  flex-direction: column;
  align-items: flex-start;
}
.mat-drawer-container{
  width: 100%;
  height: 100%;
}