<mat-drawer-container> 
        
        <mat-drawer #drawer class="sidenav col-3" mode="side">
            <div>
                <mat-card>
                    <button color="primary" (click)='addCategory()' mat-button>Новая категория</button>
                    <mat-slide-toggle>Когда-нибудь...</mat-slide-toggle>
                </mat-card>
                <mat-divider></mat-divider>
            </div>
            <div *ngFor='let category of categories'>
                <app-shopping-category-item [(category)]='category' (getCategories)='getCategories()'></app-shopping-category-item>
            </div>
        </mat-drawer>
        
        <mat-drawer-content>
            
            <mat-toolbar class="container-menu">
                <button class="content-button" mat-button (click)="drawer.toggle()">Фильтры</button>
                <button class="content-button" color="primary" mat-button color="primary" (click)='addPurchase()'>Добавить покупку</button>
            </mat-toolbar>
            <mat-accordion>
                <div>
                    <mat-slide-toggle>Когда-нибудь...</mat-slide-toggle>
                    Итого: Когда-нибудь...
                </div>
                <div *ngFor='let card of cards'>
                    <app-shopping-planner-item 
                    [(card)]='card' [(categories)]='categories' 
                    [(typeOfPurchases)]='typeOfPurchases'
                    (getModels)='getModels()'></app-shopping-planner-item>
                </div>
            </mat-accordion>

        </mat-drawer-content>
        
</mat-drawer-container>
