<div *ngIf='!isEditNoteCategory; else editTemplate'>
    <div class="btn-group div-category" role="group" aria-label="Basic example">
        <button class="mycategory" 
        (click)='editNoteCategory()' mat-stroked-button>
            <mat-label class="label-category">{{category.name}}</mat-label>
            <div mat-card-avatar class="example-header-image svg-color"></div>
            <!-- <svg class="svg-color">
                <circle cx="15" cy="15" r="15" stroke="black" stroke-width="1" attr.fill="{{category.color}}" />
            </svg> -->
        </button>      
        <mat-checkbox class="checkbox-visible"></mat-checkbox> 
        <!-- <div class="cntr">
            <label class="label-cbx">
                <input type="checkbox" class="invisible">
                <div class="checkbox">
                    <svg width="30px" height="30px" viewBox="0 0 24 24">
                      <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                      <polyline points="4 11 8 15 16 6"></polyline>
                    </svg>
                </div>            
            </label>
        </div>         -->
    </div>    
</div>

<ng-template #editTemplate>
    <mat-card>        
        <mat-card-content>
            <form class="example-form">
                <mat-form-field>
                    <input matInput placeholder="Название категории"
                    [(ngModel)]='category.name'
                    [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type='color'
                    [(ngModel)]='category.color'
                    [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" (click)='saveNoteCategory()' mat-button>Сохранить</button>
            <button color="warn" (click)='deleteNoteCategory()' mat-button>Удалить</button>
            <button color="warn" (click)='cancel()' mat-button>Отменить</button>
        </mat-card-actions>
    </mat-card>
</ng-template>
