<ul class="nav flex-column">
  <li>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForNoteCategory">Новая категория</button>
    <div class="modal fade" id="modalForNoteCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <app-form-note-category [(newNoteCategory)]='newNoteCategory' [(isNewNoteCategory)]='isNewNoteCategory'></app-form-note-category>
    </div>
  </li>
  <li class="nav-item" *ngFor='let noteCategory of noteCategories'>
    <app-item-note-category [(noteCategory)]='noteCategory' (deleteNoteCategory)='deleteNoteCategory($event)'></app-item-note-category>
  </li>
</ul>