<ul class="nav flex-column">
  <li>
    
    <!--New noteCategory-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForNoteCategory">Новая категория</button>
    <!--Modal-->
    <div class="modal fade" id="modalForNoteCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <app-form-note-category
      [(noteCategory)]='noteCategory'
      [(saveNoteCategory)]='noteCategory' 
      [(isNewNoteCategory)]='isNewNoteCategory' 
      (addNoteCategory)='addNoteCategory($event)'
      (editNoteCategory)='editNoteCategory($event)'></app-form-note-category>
    </div>

  </li>
  <li class="nav-item" *ngFor='let noteCategory of noteCategories'>    
    <!--Buttons Group-->
    <div class="btn-group" role="group">
      <!--Open modal for noteCategory-->
      <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#' + 'Modal' + noteCategory.id">
          {{noteCategory.name}}
      </button>
      <!--Modal-->
      <div class="modal fade" [attr.id]="'Modal' + noteCategory.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <app-item-note-category [(noteCategory)]='noteCategory' (deleteNoteCategory)='deleteNoteCategory($event)'></app-item-note-category>
      </div>
      <!--CheckBox-->
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="checkbox"
          [(ngModel)]="noteCategory.isOn"
          [ngModelOptions]="{standalone: true}"
          (onchange)='editNoteCategory(noteCategory)'>Видимость
        </label>
      </div>
    </div>
  </li>
</ul>