<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h6>{{card.task.name}}</h6>     
            <div [style.backgroundColor]="card.taskCategory.color" style='width:20px; height:20px; border-radius: 10px;'></div>       
        </mat-panel-title>
        <mat-panel-description>
            {{panelOpenState ? 'Свернуть' : 'Развернуть'}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <form class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Название" [(ngModel)]='card.task.name' [ngModelOptions]="{standalone: true}">
        </mat-form-field>        
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Описание" rows='3' [(ngModel)]='card.task.description' [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
    </form>
    
    <p>
        <mat-form-field>
            <mat-label>Категория покупки</mat-label>
            <mat-select 
                [(ngModel)]='card.task.taskCategoryId' 
                [ngModelOptions]="{standalone: true}"
                [(value)]='card.task.taskCategoryId'>
                <mat-option [value]="0">
                    Без категории
                </mat-option>
                <mat-option *ngFor="let category of categories" [value]='category.id'>
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>          
    </p> 

    <mat-action-row>
        <button mat-button color="primary" (click)='save()'>Сохранить</button>
        <button mat-button color="accent" (click)='cancel()'>Отменить</button>
        <button mat-button color="warn" (click)='delete()'>Удалить</button>
    </mat-action-row>

</mat-expansion-panel>
